<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.startemplan.vyuspot">


	
	
	
	
	<permission
        android:name="com.startemplan.vyuspot.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
	<uses-permission 
		android:name="com.startemplan.vyuspot.permission.C2D_MESSAGE"/>
	<uses-permission 
		android:name="com.google.android.c2dm.permission.RECEIVE" />
	
    <permission
        android:name="com.startemplan.vyuspot.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />



  

    <uses-permission android:name="com.startemplan.vyuspot.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lancher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
      tools:replace="android:icon" >

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" android:theme="@style/AppTheme"/>
        <activity android:name=".VoiceAct"  android:theme="@style/Theme.AppCompat.Light.Dialog" />
       <activity
            android:name=".SpotEmergency"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SpotAccident"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SpotResourceNeed"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".View_Needs" />
        <activity android:name=".MapView" />

        <activity android:name=".View_Needs_User" />


        <activity android:name=".Register"/>
        <activity android:name=".Help"/>
		
		
		<activity android:name=".MainActivity"/>
        <activity android:name=".GreetingActivity"/>


        <activity
            android:name=".Settings"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

		
		<receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.startemplan.vyuspot" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMNotificationIntentService" />


        <application android:name=".CustomApplication" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD9SiDwF6J_V1iFl5D2huepTZCya6Ai0c8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>


</manifest>
